footer {
    color: $secondary-color;
    background-color: $primary-color-ligher;
    text-align: center;
    font-family: $secondary-font;

    .alekei-footer-social {
        padding-top: 50px;
    }

    .footer-page-link {
        background-color: lighten($primary-color-ligher, 5%);
        cursor: pointer;
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
        transition: all 0.5s ease;

        a:hover, a:focus {
            color: $secondary-color;
        }

        &:hover {
            background-color: $red;
            transform: scale(0.95);
        }
    }

    .alekei-footer-credits {
        font-size: 13px;
        font-weight: 300;
        padding-top: 30px;
        padding-bottom: 50px;

        .alekei-footer-credits-owner {
            margin-bottom: 5px;

            span {
                color: $orange;
            }

            p {
                margin: 0;
            }
        }

        .alekei-footer-credits-impressum {
            p {
                cursor: pointer;
                color: $secondary-color;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}