/**
* ------------------------------------------------------------------------------
* COLORS
* ------------------------------------------------------------------------------
**/
$primary-color: hsl(220, 13%, 18%);
$primary-color-ligher: hsl(218, 15%, 20%);

$secondary-color: hsl(230, 1%, 98%);
$secondary-color-darker: hsl(220, 14%, 71%);

$cyan: hsl(187, 47%, 55%); 
$blue: hsl(207, 82%, 66%); 
$purple: hsl(286, 60%, 67%); 
$green: hsl(95, 38%, 62%); 
$red: hsl(355, 65%, 65%); 
$orange: hsl( 39, 67%, 69%);

/**
* ------------------------------------------------------------------------------
* FONT
* ------------------------------------------------------------------------------
**/
$pirmary-font: 'Open Sans', sans-serif;
$secondary-font:'Lato', sans-serif;

/**
* ------------------------------------------------------------------------------
* Ui - kit customization
* ------------------------------------------------------------------------------
**/
$section-default-background: $secondary-color;
$section-primary-background: $primary-color;
$base-heading-color: $primary-color;
$base-body-color: $primary-color;
$base-body-font-family: $secondary-font;
