$padding: 50px;
$svg-widht: 400px;

.section-spacer {
    background-color: $primary-color;
    color: $secondary-color;

    padding: 30px;

    @media screen and (max-width: $breakpoint-small) {
        .svg {
            width: $svg-widht * 0.5;
        }

        .no-svg {
            width: $svg-widht * 0.5;
        }
    }
}