.section-portfolio {
    max-width: 900px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    .uk-slider, .uk-slider-items, li, .portfolio-picture {
        height: 100%;
    }

    .uk-slider {
        .uk-slider-items {
            li {
                width: 100%;

                .portfolio-picture {
                    background-position: center;
                    background-size: cover;
                }

                .uk-overlay-primary {
                    background-color: rgba($primary-color, 0.70);
                    transition: 0.4s;

                    &:hover {
                        background-color: rgba($primary-color, 0.10);
                    }
                }
            }
        }
    }

    h3 {
        color: $primary-color;
        font-family: $secondary-font;
    }

    p {
        color: $primary-color;
    }

    .section-portfolio-content-left {
        min-height: 300px;
        width: 100%
    }

    .section-portfolio-content-right {
        width: 100%;

        a {
            color: $blue;

            &:hover {
                color: $red;
            }
        }
    }

    .uk-badge {
        color: $secondary-color;
        background-color: $primary-color;
    }
}
