$section-about-heading-left: 60px;

.section-about {
    text-align: center;

    .content {
        margin: auto;
        padding: 15px;
        max-width: 710px;
    }

    .section-about-pic {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
    }

    .toolbox {
        margin-top: 30px;
        div:first-child {
            div {
                padding: 15px;
                width: 50px;
            }
        }
    }

    p {
        margin: 0;
        margin-top: 15px;
    }

    h2 {
        font-family: $secondary-font;
        margin-bottom: 0;
        margin-top: 15px;
    }
}