$padding: 100px;
$svg-widht: 400px;

.section-spacer {
    background-color: $primary-color;
    color: $secondary-color;

    padding-top: $padding;
    padding-bottom: $padding;

    h3 {
        font-family: $pirmary-font;
        margin: 20px 0 10px 0;
        color: $secondary-color;
    }

    .section-spacer-content {
        text-align: center;
        max-width: 250px;

        p {
            font-weight: 300;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        .svg {
            width: $svg-widht * 0.5;
        }

        .no-svg {
            width: $svg-widht * 0.5;
        }
    }
}